{% extends 'admin/admin_base.html' %}

{% block content %}
    <div class="container-xl">
        <h2 class="mt-5">{{ task.title }}</h2>
        <div class="row align-items-start">
            <div class="col-5 container-xl">
                <div class="container-xl bg-light">
                    <h2 class="mt-5">Управление практикой</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Имя контейнера</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task_container in task_containers %}
                            <tr id="list_item_{{ task_container.container_id }}">
                                <th scope="row">
                                    <p class="mt-2">{{ task_container.container_name }}</p>
                                </th>
                                <td>
                                    <p class="mt-2">{{ task_container.status }}</p>
                                </td>
                                <td>
                                    <button id="container_delete_{{ task_container.container_id }}" type="button"
                                            class="btn btn-danger"
                                            onclick="deleteContainer('{{ task_container.container_id }}')">Удалить
                                        контейнер
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-2 container-xl">
                <ul class="list-group">
                    <a class="list-group-item list-group-item-action"
                       href="{{ url_for("admin.task_by_id", id = task.task_id) }}">Описание</a>
                    <a class="list-group-item list-group-item-action active"
                       href="{{ url_for("admin.task_control", id = task.task_id) }}">Управление практикой</a>
                    <a class="list-group-item list-group-item-action"
                       href="{{ url_for("admin.task_students", id = task.task_id) }}">Студенты</a>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        {#    use fetch to send request to backend#}

        function deleteContainer(container_id) {
            {# disable launch_practice button while requesting#}
            document.getElementById(`container_delete_${container_id}`).disabled = true;
            fetch('{{ url_for("admin.delete_container", task_id = task.task_id, container_id="") }}' + container_id, {
                method: 'DELETE',
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'Deleted') {
                        document.getElementById(`list_item_${container_id}`).remove();
                    } else {
                        alert('Что-то пошло не так');
                        document.getElementById(`container_delete_${container_id}`).disabled = false;
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    document.getElementById(`container_delete_${container_id}`).disabled = false;
                });
        }
    </script>
{% endblock %}