@font-face {
  font-family: 'Grand Hotel';
  font-style: normal;
  font-weight: 400;
  src: 7Au7p_IgjDKdCRWuR1azplQKGFk.ttf format('truetype');
}
//url(http://fonts.gstatic.com/s/grandhotel/v8/7Au7p_IgjDKdCRWuR1azplQKGFk.ttf) format('truetype')
