    {% include "header.njk"%}

    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1 class="text-center">Sign Up</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
    
    
    <!-- Basic -->
    <div class="ex-form-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="text-box mt-5 mb-5">
                        <p class="mb-4">Fill out the form below to sign up for the service. Already signed up? Then just <a class="blue" href="/login">Log In</a></p>

                        <p class="mb-4" id="output" style="text-align:center;color:red"></p>

                        <!-- Sign Up Form -->
                        <form id="form" method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="email" required>
                                <label class="label-control" for="email">Email</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="name" required>
                                <label class="label-control" for="name">Name</label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control-input" id="password" required>
                                <label class="label-control" for="password">Password</label>
                            </div>
                            <div class="form-group checkbox">
                                <input type="checkbox" id="terms" value="Agreed-to-Terms" required>I agree with the site's stated <a href="privacy.html">Privacy Policy</a> and <a href="terms.html">Terms & Conditions</a>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">Sign Up</button>
                            </div>
                        </form>
                        <!-- end of sign up form -->

                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->

    <script src="assets/js/signup.js"> </script> <!-- Custom script for signup -->
    {% include "footer.njk"%}
